{% extends 'base.html' %}
{% load template_tags %}
{% block contenido %}
<center>
    <div class="container" style="margin: 200px;">
        <h1>Categorias</h1>
        <br>
        <ul>
            {% for categoria in categorias %}
                <li><h3>{{ categoria.nombre }}</h3></li>
                <a class="btn btn-success" href="{% url 'apps.posts:posts_por_categoria' pk=categoria.pk %}">
                    Ingresar
                {% if user.is_superuser or es_colaborador %}
                </a>
                <a class="btn btn-danger" href="{% url 'apps.posts:categoria_delete' pk=categoria.pk %}">
                Eliminar
                </a>
                {% endif %}
            {% empty %}
                <li>No hay categorías</li>
            {% endfor %}
        </ul>
    </div>
</center>
{% endblock %}