{% extends 'base.html' %}
{% load template_tags %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Categorías</h1>
            <br>
            <ul class="list-group">
                {% for categoria in categorias %}
                    <li class="list-group-item">
                        <h3>{{ categoria.nombre }}</h3>
                        <a class="btn btn-success" href="{% url 'apps.posts:posts_por_categoria' pk=categoria.pk %}">
                            Ingresar
                        </a>
                        {% if user.is_superuser or request.user|has_group:"Colaborador" %}
                            <a class="btn btn-danger" href="{% url 'apps.posts:categoria_delete' pk=categoria.pk %}">
                                Eliminar
                            </a>
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay categorías</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
