{% extends 'base.html' %}
{% load template_tags %}
{% block contenido %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div style="margin: 50px; padding: 20px; border: 1px solid #ccc; max-width: 600px; text-align: center;">
        <br>
        <li>
            {{ posts.titulo }}
        </li>
        <li>
            {{ posts.subtitulo }}
        </li>
        <li>
            <p>Autor: {{ posts.autor }}</p>
        </li>
        <br>
        <li>
            {{ posts.texto }}
        </li>

        {% if posts.imagen %}
        <img src="{{ posts.imagen.url }}" alt="" style="max-width: 100%; height: auto;">
        {% else %}
        <p>No hay imagen disponible</p>
        {% endif %}

        {% if user.is_superuser or request.user|has_group:'Colaborador' %}
        <div class="container mt-3">
            <a href="{% url 'apps.posts:post_update' pk=posts.id %}" class="btn btn-success">
                Modificar Post
            </a>
        </div>
        {% endif %}
        {% if user.is_superuser or request.user|has_group:'Colaborador' %}
        <div class="container mt-3">
            <a href="{% url 'apps.posts:post_delete' pk=posts.pk %}" class="btn btn-danger">
                Eliminar Post
            </a>
        </div>
        {% endif %}
    </div>

</div>

{% include 'comentario/crear_comentario.html' %}

{% endblock %}
