{% extends 'base.html' %}
{% block contenido %}
    <center>
        <div class="container" style="margin: 300px;">
            <h1>Posts por categoría</h1>
            {% if posts %}
                <ul>
                    {% for post in posts %}
                        <li><a class="btn btn-success" href="{% url 'apps.posts:post_individual' id=post.id %}">{{ post.titulo }}</a></li>
                        <p>{{ post.texto }}</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay publicaciones en esta categoría.</p>
            {% endif %}
        </div>
    </center>
{% endblock %}
