<!-- formulario.html -->

{% extends 'base.html' %}

{% block contenido %}

<CENTER>
    <form method="POST" style="margin: 200px;">
        <h1>Formulario de contacto</h1>
        <br>
        <table class="table"> <!-- Aplicamos la clase 'table' de Bootstrap -->
            {% csrf_token %}
            <div class="container-fluid">
                {{ form.as_table }} <!-- Utilizamos 'as_table' para renderizar el formulario como una tabla -->
            </div>
        </table>
        <button type="submit" class="btn btn-success">Enviar</button> <!-- Aplicamos la clase 'btn' y 'btn-primary' para el botón -->
    </form>
</CENTER>

{% endblock %}
