{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="{% static 'images/banner.jpg' %}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption relative">
                        <h1>Ferplant</h1>
                        <span>Biotecnología al servicio de la agricultura</span>

                        <p>Los productos Ferplant brindan soluciones ecológicas únicas con tecnología avanzada que penetran en la hoja de manera instantánea. Contienen proteínas, aminoácidos naturales y una fórmula completa de nutrientes biológicos naturales.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- about -->
<div id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_box">
                    <h2>Nosotros<br><strong class="black"></strong></h2>
                    <p>El uso de la Tecnología Ferplant nació ante los desafíos que exigía el mercado de valor de productor hortofrutícolas con el fin de obtener productos de alta eficiencia, baja carga química y de bajo impacto medioambiental. La compañía se especializó en  el cultivo de bacterias, la extracción de plantas y formulaciones orgánicas. La compañía desarrolló la tecnología conocida con el nombre de transmisión citoplasmática, transfiriendo los nutrientes de las células bacterianas a las células de las plantas estimulando el crecimiento de las plantas y la capacidad de estas para absorber más nutrientes del suelo usando menos energía.

                        Nuestros productos Ferplant se distribuyen hoy en España, Portugal, América del Sur y América Central.</p>                       
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_img">
                    <figure><img src="{% static 'images/Diseño sin título (2).png' %}" alt="img" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- for_box -->
<div class="for_box_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{% static 'images/22.png' %}" alt="#"/></i>                  
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{% static 'images/23.png' %}" alt="#"/></i>                       
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{% static 'images/222.png' %}" alt="#"/></i>                   
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{% static 'images/oia.png' %}" alt="#"/></i>                      
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end for_box -->

<!-- product -->
<div id="product" class="product">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Nuestros <strong class="black"> productos</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="product_box">
                            <figure><img src="{% static 'images/ca.jpg' %}" alt="#" />
                                <h3>Ferplant Ca </h3></figure>
                                <h4>Suspensión de calcio altamente concentrada para aplicar en fertirrigación o como abonado de fondo. Forma una fina película de partículas sobre la planta lo que le permite una mejor absorción del mismo. </h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="product_box">
                            <figure><img src="{% static 'images/black.jpg' %}" alt="#" />
                                <h3>Fertilizante regenerador </h3></figure>
                                <h4> Su aplicación contínua mejora la estructura del suelo, y mejora el empleo de agua por parte de las plantas. Estimula la germinación de semillas.</h4>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="product_box">
                            <figure><img src="{% static 'images/este1.jpg' %}" alt="#" />
                                <h3>Solución NPK  </h3></figure>
                                <h4>con solubilidad al 100% garantizada. Su concentración equilibrada en nitrógeno, fósforo y potasio le
                                    ofrece una garantía de aplicación en cualquier fase de desarrollo del cultivo. </h4>                      
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="product_box">
                            <figure><img src="{% static 'images/k.jpg' %}" alt="#" />
                                <h3>Pure Potasio </h3></figure>
                                <h4>Fertilizante ecológico en base a potasio (20% p/p) indicado para la corrección de estados
                                    carenciales de este elemento y para favorecer el engorde y la maduración de frutos.
                                    No contiene nitrógeno, cloruros o sulfatos, por lo que ofrece mayor estabilidad en mezcla con otros productos. </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="product_box">
                            <figure><img src="{% static 'images/pure.jpg' %}" alt="#" />
                                <h3>Pure Nitro</h3></figure>
                                <h4> Especialmente indicado para actuar como estimulante
                                    en situaciones de estrés, para aumentar la producción y el número de raíces, mejorar el balance energético de
                                    la planta y para la obtención de un mejor resultado productivo. </h4>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="product_box">
                            <figure><img src="{% static 'images/title.jpg' %}" alt="#" />
                                <h3>Phos 30 </h3></figure>
                                <h4>Fosforo orgánico trasformado con bacterias solubilizadoras para una alta asimilación. </h4>
                                
                                <a href="{% url 'apps.posts:posts' %}" class="mas_posts"></a>
            </div>
        </div>
    </div>
</div>
<!-- end product -->
<!-- clients -->
<div id="testimonial" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Tecnología</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clients_red">
    <div class="container">
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <!-- The slideshow -->
                <div class="carousel-item active">

                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont text_align_center cross_layout">
                            <div class="row">                                  
                                    <div class="testomonial_img">
                                        <i><img src="{% static 'images/formato-1.jpg' %}" alt="#"/></i>
                                    </div>             
                                    <div class="cross_inner">
                                        <h3>Transmisión citoplasmática</strong></h3>
                                        <p>La tecnología Cropcell está basada en el proceso de extracción de fermentos procedentes de extractos vegetales, consiguiendo así, con un secuencial de procesos internos bajo estricto secreto profesional, un tamaño molecular de sus productos más pequeño que una célula vegetal y con una estructura entre 3 y 6 anillos de carbono, convirtiéndose así en una nutrición iónica dónde se aportan los iones necesarios para la nutrición de una planta sin que la misma gaste energía en sus procesos. 
                                            Esta tecnología está basada en los procesos fotosintéticos que realiza una planta consiguiendo un alto índice de carbono en su masa vegetal, más energía, y más segregación hormonal de auxinas, citoquininas, giberelinas y fitolexinas.
                                            Con estos procesos conseguimos llevar la planta a su potencial genético máximo.                                             
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item">

                    <div class="testomonial_section">
                        <div class="full center">
                        </div>
                        <div class="full testimonial_cont text_align_center cross_layout">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                                    <div class="testomonial_img">
                                        <i><img src="{% static 'images/tes.jpg' %}" alt="#"/></i>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                                    <div class="cross_inner">
                                        <h3>Johndue<br><strong class="ornage_color">Farm & CO</strong></h3>
                                        <p><img src="{% static 'icon/1.png' %}" alt="#" />ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                            <img src="{% static 'icon/2.png' %}" alt="#" />
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- end clients -->
<!-- contact -->

<!-- <div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Contacto</strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padddd">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 padddd">
        <div class="map_section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                        <form class="main_form">
                            <div class="row">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Nombre" type="text" name="Nombre">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Email" type="text" name="Email">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Teléfono" type="text" name="Teléfono">
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <textarea class="textarea" placeholder="¿Qué deseas saber?" type="text" name="¿Qué deseas saber?"></textarea>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <button class="Enviar">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="map">
            </div>

        </div>
    </div>
</div> -->

<!-- end contact -->
{% endblock %}