{% extends 'base.html' %}
{% load template_tags %}
{% block contenido %}
    <div class="container mt-5 d-flex justify-content-center align-items-center">
        <div>
            {% if user.is_superuser or comentario.usuario == user %}
                <div class="container">
                    <h1>Editar comentario</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-success" value="Guardar cambios">
                    </form>
                </div>
            {% else %}
                <div class="container">
                    <h1>Solo usuarios con permisos pueden acceder a esta página</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
